/* Workouts.module.css */
/* Workouts.module.css */

/* .theWholePage{
    background-color: black;
} */


.workoutContainer {
    /* Add styles for the container of workout images */
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(#80FFDB, #64DFDF, #48BFE3, #5390D9, #5E60CE);
    gap: 20px;
    flex-direction: column;
    margin-left: 100px; 
    margin-top: 200px;
    justify-items: left;  }
    
  .picCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 20px;
    gap: 16px;

  }
  .progress{
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 25px;
    justify-content: left;
    margin-top: 160px;
   
}
.progressStyle {
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    margin-left: 350px;
    justify-content: flex-end; /* Align to the extreme right */
    align-items: flex-end; /* Align to the top */
    /* Add padding as needed */
}
  
  

  
.repCont{
display: flex;
flex-direction: column;
height: auto;
width: 300px;
border: 1px solid #ccc;
border-radius: 25px;


}

.repCont img {
width: auto;
height: 160px;
border-radius: 25px 25px 0 0; /* Top-left, Top-right, Bottom-right, Bottom-left */

}

.exerciceNumb{
justify-content: left;

margin-left: 40px;
font-size: 28px;
font-weight: bold;
color: aliceblue;
padding: 10px;
}
.workoutsInfo{
justify-content: left;
margin-left: 40px;
flex-direction: row;
gap: 100px;
padding: 15px;
color: aliceblue;
}


    
    


/* Add any other styles as needed */
